<template name="vote">

{{#if currentUser}}
<!-- <form class="add-comment"> -->
<div class="vote well well-lg" data-id="{{ _id }}">
 <!-- <form> -->   
    <h3 class="text-center">{{ question }}</h3>

    {{ #each indexedArray choices }}
        <a href="#" class="poll btn btn-primary btn-block" data-id="{{ _index }}">
            <span class="polls pull-right">{{ polls }}</span>
            <span class="text">{{ text }}</span>
        </a>
    {{ /each }}    
    <input type="text" name="type_comment"> <button type="submit" id="cmt">Comment</button>
<!-- </form> -->
</div>

<!-- </form> -->

{{else}}
<div class="vote well well-lg" data-id="{{ _id }}">
        <h3 class="text-center">{{ question }}</h3>

    {{ #each indexedArray choices }}
        <a href="#" class="poll btn btn-primary btn-block" >
            <span class="polls pull-right">{{ polls }}</span>
            <span class="text">{{ text }}</span>
        </a>
    {{ /each }}
    
</div>

{{/if}}

</template>